<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.keplerproject.luaeclipse.ui.internal.interpreter.LuaInterpreterInstallType"
            id="org.keplerproject.luaeclipse.interpreterInstallType">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.keplerproject.luaeclipse.ui.interpreter.preferences.LuaInterpreterPreferencePage"
            id="org.keplerproject.luaeclipse.ui.interpreter.preferences"
            name="Lua interpreters">
      </page>
   </extension>
</plugin>
